<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] %msg %nopex%n</pattern>
		</encoder>
	</appender>

	<logger name="click.tomasz" level="info"/>

	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>